<h3>User</h3>
<p><%= @user.username %></p>
<p>Email: <%= @user.email %></p>

<h2>Friends</h2>
<ul>
  <% for friendship in @user.friendships %>
    <li>
      <%= friendship.friend.username %>	
    </li>	
    <li>
      <%= friendship.friend.email %>
      (<%= link_to "remove", friendship, :method => :delete %>)
    </li>
  <% end %>
</ul>

<h2>Friended by Users</h2>
<ul>
  <% for user in @user.inverse_friends %>
    <li><%=h user.email %></li>
  <% end %>
</ul>


<%= link_to "Add Friend", friendships_path(:friend_id => @user.id), :method => :post %>
